@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-04-08 23:24:31
 * @version $Id$
 */

@font-face{
font-family: MicrosoftYaHei-Regular;src:url(../../fonts/msyh.ttf);
font-family: MicrosoftYaHei-Regular-bd;src:url(../../fonts/msyhbd.ttf);
}
*{
	padding: 0;
	margin: 0;
}
.clear{
	clear: both;
}
#top{
	min-width: 1000px;
	height: 125px;
	font-family: MicrosoftYaHei-Regular;
}
#top .top-box{
	height: 45px;
	background-color: #244d5f;
}
#top .top-nav{
	width: 1000px;
	height: 45px;
	margin: 0 auto;
	color: #244d5f;
	position: relative;
}
#top .top-nav-box{
	height: 80px;
	min-width: 1000px;
	border-bottom: 1px solid #eeeeee;
}

#top .top-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
#top .top-nav .nav-list-1{
	float: left;
	list-style: none;
	height: 20px;
}
#top .top-nav .nav-list .top-list-nav{
	float: left;
	margin-top: 11px;
}
#top .top-nav .nav-list .top-list-nav a{
	line-height: 20px;
	cursor: pointer;
}
#top .top-nav .nav-list .top-list-nav a:hover{
	color: #cecccc;
}
#top .top-nav .nav-list-1 .list-2{
	margin-left: 13px;
}
#top .top-nav .nav-list-1 .list-3{
	margin-left: 16px;
}
#top .top-nav .nav-list-1 .list-4{
	margin-left: 75px;
}
#top .top-nav .nav-list-1 .list-5{
	margin-left: 12px;
}
#top .top-nav .nav-list-1 .list-5 span{

}
#top .top-nav .nav-list-2{
	float: right;
	margin-right: 1px;
}
#top .top-nav .nav-list-2 .list-4{
	margin: 10px 10px;
	color: #fff;
	font-size: 16px;
}
#top .top-nav .nav-list-2 .list-2{
	margin-right: 25px;
}
#top .top-nav .nav-list-2 .list-1{
	margin-right: 15px;
	margin-top: 10px;
}

#top .top-navbar{
	width: 1000px;
	height: 80px;
	margin: 0 auto;
}
#top .top-navbar .logo-img{
	float: left;
}
#top .top-navbar .logo-img img{
	margin-top: 8px;
}
#top .top-navbar .navbar{
	float: right;
}
#top .top-navbar .navbar ul{
	list-style: none;
}
#top .top-navbar .navbar ul li{
	float: left;
}

#top .top-navbar .navbar ul li a{
	text-decoration: none;
	color: #333333;
	font-size: 16px;
	display: block;
	height: 79px;
	line-height: 80px;
	padding-left: 20px;
	padding-right: 20px;
}
#top .top-navbar .navbar ul li a:hover{
	color: #fff;
	background-color: #50bbdb;
	border-bottom: 1px solid #7d7a79;
}


#footer{
	min-width: 1000px;
	background-color: #444b55;
	height: 50px;
	font-family: MicrosoftYaHei-Regular;
	margin-top: 60px;
}
#footer .footer-list ul{
	width: 1000px;
	list-style: none;
	height: 50px;
	margin: 0 auto;
}
#footer .footer-list ul li{
	float: left;
	margin: 0 60px;
}
#footer .footer-list ul li a{
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}
#footer .footer-list ul li a:hover{
	color: #cecccc;
}







#footer .copyright{
	height: 40px;
	background-color: #565d65;
	font-size: 18px;
	font-family: MicrosoftYaHei-Regular;
	line-height: 40px;
	text-align: center;
}
#footer .copyright span{
	margin-right: 30px;
	color: #fff;
}


/*地址切换*/

#city-add-box{
	width: 706px;
	height: 105px;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow:0 0 10px #0CC;
	-moz-box-shadow:0 0 10px #0CC;
	box-shadow:0 0 10px #0CC;
	z-index: 9999;
	position: absolute;
	top: 40px;
	left: 1px;
	display: none;
}
#city-add-box p{
	font-size: 15px;
	font-family:"微软雅黑";
	margin-top: 10px;
	margin-left: 30px;
	display: block;
	width: 50px;
	float: left;
}
#city-list-1{
	float: left;
	width: 600px;
	height: 100px;
	margin-top: 10px;
}
#city-list-1 .city-list-add{
	float: left;
	position: relative;
	font-size: 15px;
	font-family:"微软雅黑";
	color: #50B8D8;
	display: block;
	height: 22px;
	width: 66px;
	text-align: center;
	cursor: pointer;
}
#city-list-1 .city-list-add:hover{
	background-color: #e6fbfd;
}

#top .top-box .top-nav .nav-list-2 .list-1 img:hover{
	color: #0f0;
}