
#switch .modal-content{
	width:710px;
	height:220px;
	position:relative;
	top:15px;
	right:200px;
	color: #50bbdb;
	font-size: 15px;
	font-family: "微软雅黑";
	color: #5c5c5c;
}
.country{
	text-align: center;
	width:80px;
	height:220px;
	float:left;
}
.country p{
	padding-top: 20px;
	font-size:18px;
}
.city{
	color:#50b8d8;
	width:700px;
	height:200px;
}
.city li {
	list-style: none;
	width:77.5px;
	height:50px;
	float:left;
	text-align: center;
	line-height: 50px;
}






.banner{
	margin-top: 21px;
	height:375px;
}
.banner a :hover{
	cursor:pointer;
}
.banner-top{
	width:1000px;
	height:98px;
	margin: 0 auto;
}
.banner-top1 {
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #5c5c5c;
}
.banner-top1 a{
	color: #5c5c5c;
}
.banner-top1 span a :hover{
	cursor:pointer;
}
.banner-input{
	margin-left: 260px;
	height:34px;
	width:427px;
	border:2px solid #52bbdb;
}
.banner-top3{
	margin-top: 13px;
}
.banner-top3 span{
	font-family: "宋体";
	font-size: 14px;
	color:#9F9F9F;
}
.hotSearch{
	font-size: 14px;
	font-weight: bold;
	padding-left: 275px;
	color: #b1b1b1;
}
.hotSearch a{
	color: #b1b1b1;
}


/*banner*/
.banner-mid{
	width:1000px;
	margin: 0 auto;
	margin-top: 17px;
	height:135px;
	border:1px solid #dbdbdb;
}
/*.banner-mid .box-midlf a :hover{
	cursor:pointer;

}*/
.banner-mid a{
	color:#b4b4b4;
}
.banner-mid .box1{
	margin-left: 21px;
	width:958px;
	height:42px;
	border-bottom: 1px dashed #d8d9d9;
}
.banner-mid .box4{
	margin-left: 21px;
	width:958px;
	height:42px;
}
.banner-mid .box-left{
	float:left;
	display: block;
	width:55px;
	height:42px;
}
.banner-mid .box-left span{
	font-size: 13px;
	font-family: "微软雅黑";
	color:#333333;
	text-align: center;
	line-height:42px;
}
.banner-mid .box-midlf{
	text-align: center;
	line-height: 24px;
	float:left;
	display: block;
	height:24px;
	width:53px;
	background-color:#50bbdb; 
	margin-left: 27px;
	margin-top: 9px;
}
.banner-mid .box-midlf li{
	display: block;
	color:#fff;
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	line-height:24px;
}
.banner-mid .box-midrg{
	cursor:pointer;
	float:left;
	margin-left: 30px;
	width:672px;
	height:42px;
}
.box-midrg ul li{
	margin-top: 8px;
	height:24px;
	list-style: none;
	float:left;
	margin-left: 33px;
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	line-height:24px;
	color:#a7a7a7;
}
.banner-mid .box-midrg ul li :hover{
	cursor:pointer;
}
#box3 ul li{
	margin-left: 20px;
}
.box-midrg .li1{
	margin-left: 0;
}
.box4 ul li{
	margin-left: 18px;
}
.box-right{
	float:left;
	width:68px;
	height:42px;
	margin-left: 50px;
}
.box-right a{
	font-size: 12px;
	font-family: "微软雅黑";
	text-align: center;
	line-height:42px;
	color:#333333;
}
.box-right img{
	margin-left: 30px;
}
.banner-bottom{
	width:1000px;
	margin: 0 auto;
	margin-top: 22px;
	height:55px;
	border:1px solid #cccccc;
}
/*.banner-bottom a :hover{
	cursor:pointer; 
}*/
.banner-bottom a{
	color:#999999;
}
.banner-bottom .attr{
	float:left;
	width:370px;
	height:55px;
}
.banner-bottom .attr li :hover{
	cursor:pointer;
}
.banner-bottom li{
	font-size: 14px;
	font-family: "微软雅黑";
	float:left;
	height:55px;
	list-style: none;
	line-height: 55px;
	text-align: center;
	color:#5c5c5c;
}
.banner-bottom .li-1{

	border-right: 1px solid #cccccc;
	width:105px;
}
.banner-bottom .li-2{

	border-right: 1px solid #cccccc;
	width:90px;
}
.banner-bottom .li-3{

	border-right: 1px solid #cccccc;
	width:85px;
}
.banner-bottom .li-4{

	border-right: 1px solid #cccccc;
	width:85px;
}
.banner-bottom .attr2{
	margin-left: 390px;
	float:left;
	width:238px;
	height:55px;
}
.banner-bottom .li-6{
	margin-left:22px;
}
.banner-bottom .li-7{
	float:right;
	margin:auto 0;
	height:28px;
	width:90px;
}
.banner-bottom .li7 img :hover{
	cursor:pointer;
}
.content{
	margin:0 auto;
	width:1000px;
	height:2700px;
}
.content .pic1 :hover{
	cursor:pointer;
}
.content a :hover{
	cursor:pointer;	
}
.content .list1{
	width:1000px;
	height:440px;
}
.content .left{
	float:left;
	list-style: none;
	margin-left: 8px;
	height:440px;
	width:328px;
	border:1px solid #cccccc;
}
.content #left1{
	margin-left: 0;
}
.content .pic1{
	height:222px;
	width:326px;
	position:relative;
}
.product {
	height:45px;
	width:328px;
	font-size: 20px;
	font-family: "微软雅黑";
	color:#fff;
	text-align: center;
	line-height: 45px;
	background-image: url(../../images/img-wangcanhui/touming.png);
	position: absolute;top:170px;
    opacity: 0.7;
}
.content .price{
	height:50px;
	background-color: #efefef;
}
.content .price ul li{
	list-style: none;
	float:left;
	margin-left: 21px;
}
.content .price .aprice{
	height:50px;
	width:96px;
	font-size: 14px;
	font-family: "微软雅黑";
	color:#fc8130;
	line-height: 50px;
	text-align: center;
}
.content .price .aprice span{
	font-size: 28px;
}
.content .price .date{
	width:92px;
	height:12px;
	font-size: 12px;
	font-family: "微软雅黑";
	margin-left: 22px;
	margin-top: 21px;
	color:#999999;
}
.content .price .days{
	width:73px;
	height: 50px;
	font-size: 16px;
	font-family: "微软雅黑";
	color:#fc8130;
	line-height: 50px;
	text-align: center;
}
.content .left .box1{
	height:16px;
	margin-top: 21px;	
}
.content .left .box1 span{
	padding-left: 13px;
	font-size: 16px;
	font-family: "微软雅黑";
	color:#333333;
}
.content .left .box2{
	height: 13px;
	margin-top: 13px;

}
.content .left .box2 span{
	padding-left: 19px;
	font-size: 12px;
	font-family: "微软雅黑";
	color:#c2c2c2;
}
.content .left .box3{
	height:38px;
}
.content .left .box3 div{
	float:left;
	margin-top: 24px;
}
.content .left .box3 a{
	font-size: 12px;
	font-family: "微软雅黑";
	color:#7a7a7a;
}
.pic{
	padding-left: 19px;
}
.lind{
	margin-left: 8px;
	font-size: 12px;
	font-family: "微软雅黑";
	color:#7a7a7a;
	line-height:38px;
	text-align: center;
}
.eye{
	margin-left:50px;
	font-size: 12px;
	font-family: "微软雅黑";
	color:#7a7a7a;
	line-height:38px;
	text-align: center;
}
.zan{
	margin-left:8px;
	font-size: 12px;
	font-family: "微软雅黑";
	color:#7a7a7a;
	line-height:38px;
	text-align: center;
}
.contain{
	width:1000px;
	height:37px;
	margin:0 auto;
	margin-top: 40px;
}
.contain ul{
	width:384px;
	height:37px;
	margin-left: 576px;
}
.contain ul li{
	text-align: center;
	line-height: 37px;
	 width:37px;
	 height:37px;
	list-style: none;
	float:left;
	margin-left: 11px;
	background-color: #d6d6d6;
	color:#525252;
}
.contain ul li:hover{
	cursor: pointer;
	color: #fff;
	background-color: #50bbdb;
	border-bottom: 1px solid #7d7a79;
}