@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-04-08 23:24:31
 * @version $Id$
 */

@font-face{
font-family: MicrosoftYaHei-Regular;src:url(../../fonts/msyh.ttf);
font-family: MicrosoftYaHei-Regular-bd;src:url(../../fonts/msyhbd.ttf);
}
*{
	padding: 0;
	margin: 0;
	 font-family: MicrosoftYaHei-Regular-bd;
}

#top{
	min-width: 1000px;
	height: 125px;
	background-color: #244d5f;
	font-family: MicrosoftYaHei-Regular;
}
#top .top-nav{
	width: 1000px;
	height: 45px;
	margin: 0 auto;
	color: #244d5f;
}
/*#top .top-nav span{
	line-height: 45px;
}*/

#top .top-nav a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
#top .top-nav ul{
	float: left;
	list-style: none;
	height: 20px;
	line-height: 20px;
}
#top .top-nav ul li{
	float: left;

}
#top .top-nav ul li a{
	line-height: 20px;
}
#top .top-nav ul li a:hover{
	color: #cecccc;
}
#top .top-nav .nav-list-1 .list-2{
	margin-left: 13px;
}
#top .top-nav .nav-list-1 .list-3{
	margin-left: 16px;
}
#top .top-nav .nav-list-1 .list-4{
	margin-left: 75px;
}
#top .top-nav .nav-list-1 .list-5{
	margin-left: 12px;
}
#top .top-nav .nav-list-1 .list-5 span{

}
#top .top-nav .nav-list-2{
	float: right;
	margin-right: 1px;
}
#top .top-nav .nav-list-2 .list-4{
	margin: 13px 10px;
	color: #fff;
	font-size: 16px;
}
#top .top-nav .nav-list-2 .list-2{
	margin-right: 25px;
}
#top .top-nav .nav-list-2 .list-1{
	margin-right: 15px;
	margin-top: 10px;
}
#top .top-nav-box{
	width: 100%;
	height: 80px;
	background-color: #fff;
	border-bottom: 1px solid #eeeeee;
}
#top .top-navbar{
	width: 1000px;
	height: 80px;
	margin: 0 auto;

}
#top .top-navbar .logo-img{
	float: left;
}
#top .top-navbar .logo-img img{
	margin-top: 8px;
}
#top .top-navbar .navbar{
	float: right;
}
#top .top-navbar .navbar ul{
	list-style: none;
}
#top .top-navbar .navbar ul li{
	float: left;
}

#top .top-navbar .navbar ul li a{
	text-decoration: none;
	color: #333333;
	font-size: 16px;
	display: block;
	height: 79px;
	line-height: 80px;
	padding-left: 20px;
	padding-right: 20px;
}
#top .top-navbar .navbar ul li a:hover{
	color: #fff;
	background-color: #50bbdb;
	border-bottom: 1px solid #7d7a79;
}
/*个人中心头像部分*/
#banner{
	padding-top: 1px;
	width: 100%;
	height: 230px;
	border-bottom: 1px solid #e1e1e1;
}
#banner .banner-iner{
	height: 160px;
	width: 1000px;
    margin: 35px auto 35px;
    background-image: url(../../images/Personal-Center/banner-1.jpg);
	background-repeat: no-repeat;
}
#banner .banner-iner .Personal-Sig{
	margin-left: 190px;
	font-size: 22px;
	float: left;
	color: #666666;
	font-family: MicrosoftYaHei-Regular-bd;
}
/*修改资料*/
.banner-setBox{
	line-height: 28px;
	width: 82px;
	height: 28px;
	background-color:#999999;
	margin-top:50px;
	float: left;
	margin-left: 190px;
	clear: both;
}
.glyphicon-pencil{
	font-size: 18px;
	color: #fff;
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	display: block;
}
.setSig{
	display: block;
	cursor: pointer;
	height: 28px;
	line-height:28px;
	margin-right: 4px;
	float: right;
	font-size: 13px;
	color: #fff;
	font-family: MicrosoftYaHei-Regular-bd;
}
.banner-iner .banner-carful{
	width: 83px;
	height: 40px;
	clear: both;
	float: left;
	margin-left: 190px;
	margin-top: 13px;

}
/*关注部分*/
.banner-iner .banner-carful .carfulLeft{
 	width: 40px;
 	height: 40px;
 	clear: both;
 	float: left;
 	border-right: 1px solid #eee;
}
.banner-carful .carfulLeft .carfulNum-1{
    font-size: 18px;
	display: block;
	margin-left: 10px;
	color: #333333;
    font-family: MicrosoftYaHei-Regular-bd;
}
.banner-carful .carfulLeft .carFul-1{
	font-size: 12px;
	display: block;
	margin-left: 5px;
	color: #a1a1a1;
    font-family: MicrosoftYaHei-Regular-bd;
}
.banner-iner .banner-carful .carfulRight{
 	width: 40px;
 	height: 40px;
	clear: right;
	float: right;
}
.banner-carful .carfulRight .carfulNum-2{
    font-size: 18px;
	display: block;
	margin-left: 15px;
	color: #333333;
    font-family: MicrosoftYaHei-Regular-bd;
}
.banner-carful .carfulRight .carFul-2{
	font-size: 12px;
	display: block;
	margin-right: 5px;
	float: right;
	color: #a1a1a1;
    font-family: MicrosoftYaHei-Regular-bd;
}
/*banner的二维码*/
.banner-iner .QR-code{
	margin-top:28px;
	width:108px;
	height: 148px;
	margin-left: 462px;
}
.banner-iner .QR-code .QR-code-1{
	font-size: 12px;
	margin-top:28px;
	color: #a1a1a1;
	text-align: center;
	display: block;

}
/*content内容部分*/
#content{
	padding-top: 1px;
	width: 100%;
	height: 2055px;
	background-color: #f1f1f1;
}
#content .content-iner{
	width: 1000px;
	height: 2023px;
	margin: 0 auto;
	margin-top: 32px;
	background-color: #fff;

}
.content-iner-1{
	height: 70px;
}
.content-iner-1 .myOrder{
	display: block;
	font-size: 20px;
	color:#50bbdb;
}
.content-iner-4-num{
	font-size: 14px;
	color:#5a5a5a;
}
.content-iner-1 .myOrder-list-1 .list-1{
	margin-top:12px;
	width: 86px;
	height:30px;
	float: left;
	color: #333333;
	font-size:14px;
	line-height: 30px;
	text-align: center;
	border-bottom:1px solid #50bbdb;
	list-style: none;
}
#content .content-iner-2{
	width: 1000px;
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	border-top: 1px solid #d2d2d2;
}
#content .content-iner-2 .dropdown{

}
.content-iner-2 .dropdown-menu{
	width: 5px;
}
/*第三个盒子*/
#content .content-iner-3{
	height: 40px;
	line-height: 40px;
	background-color:#edf8fb;
}
.myOrder-list-3{
	list-style: none;
}
.myOrder-list-3 .lis-3-1,.lis-3-2,.lis-3-3,.lis-3-4,.lis-3-5{
	float: left;
}
.myOrder-list-3 .lis-3-1{
	width: 340px;
	margin-left: 14px;
}
.myOrder-list-3 .lis-3-2,.lis-3-3,.lis-3-4,.lis-3-5{
	width: 150px;
}
/*订单号*/
.content-iner-4{
	width: 972px;
	height: 40px;
	line-height: 40px;
	margin-left: 14px;
	border-bottom: 1px solid #d2d2d2;
}
#footer{
	min-width: 1000px;
	background-color: #444b55;
	height: 50px;
	font-family: MicrosoftYaHei-Regular;
}
#footer .footer-list ul{
	width: 1000px;
	list-style: none;
	height: 50px;
	margin: 0 auto;
}
#footer .footer-list ul li{
	float: left;
	margin: 0 60px;
}
#footer .footer-list ul li a{
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}
#footer .footer-list ul li a:hover{
	color: #cecccc;
}







#footer .copyright{
	height: 40px;
	background-color: #565d65;
	font-size: 18px;
	font-family: MicrosoftYaHei-Regular;
	line-height: 40px;
	text-align: center;
}
#footer .copyright span{
	margin-right: 30px;
	color: #fff;
}